div.spot-details-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.spot-details p {
    padding-bottom: 15px;
}

div.images-grid {
    display: flex;
}

img.large-image {
    height: 513px;
    width: 513px;
    object-fit: cover;
}

div.small-images-container {
    display: flex;
    width: 513px;
}

img.small-images {
    height: 252.5px;
    width: 252.5px;
    object-fit: cover;
}

img.bottom-images {
    padding: 8px 0 0 0;
}

div.image-columns {
    padding: 0 0 0 8px;
}

div.details {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    border-bottom: 2px solid black;
}

div.details div.owner-and-description {
    width: 700px;
}

div.owner-and-description h2 {
    margin: 0;
}

div.details div.box {
    padding: 20px;
    border: 2px solid black;
    border-radius: 12px;
    width: 290px;
    margin: 0 0 0 8px;
    text-align: center;
    height: fit-content;
}

span.box-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
}

div.box span.box-info p {
    margin: 0;
}

div.box button {
    padding: 10px 110px;
}
